.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  h1 {
    flex: 1 1 auto;
    text-align: left;
  }
  .button-group {
    display: flex;
    align-items: center;
    gap: var(--default-padding);
  }
  button {
    height: 40px;
  }
}
