.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  h1 {
    flex: 1 1 auto;
    text-align: left;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
  }
  .button-group {
    display: flex;
    align-items: center;
    gap: var(--default-padding);

    label {
      margin-left: auto;
    }
  }
  button {
    height: 40px;
  }
  dialog.processing[open] {
    position: fixed;
    inset: 1em;
    margin: 0;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
      text-align: center;
    }
  }
  dialog.processing::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media print {
  .menu {
    display: none;
  }
}
