.eventGrid {
  table-layout: fixed;
  width: 100%;

  tr {
    background: transparent;

    &.even .event {
      background: var(--color-bg-elevated);
    }
  }

  th:first-child {
    width: 100px;
  }
  th:not(:first-child) {
    width: auto;
  }
}

td {
  vertical-align: top;
}

.dayOfWeek {
  border-radius: var(--border-radius);
  border: solid 1px var(--color-accent-default);
  background: var(--color-bg-surface);
  font-size: 130%;
  font-weight: bold;
  text-align: center;

  &.even {
    background: var(--color-bg-elevated);
  }
}

.unscheduled {
  list-style: none;
  margin: 0;
  padding: 0;
}
