.playerList {
  margin: 0;
  padding: 0;
  gap: var(--default-padding);
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    background-color: var(--color-bg-elevated);
    font-size: 0.8rem;
    padding: var(--default-padding);
    border-radius: var(--border-radius);

    &.error {
      background-color: var(--color-error-default);
      color: var(--color-text-inverse);
    }
  }
}
